<div class="row">
    {% for server in server_list %}
{#        <li><a href="{% url 'home:server' serverid=server.id %}">{{ server.name }}</a></li>#}

        <div class="col-sm-6 col-md-4" style="padding-top: 15px;">
        <div class="tile">
        <div style="padding: 1px 10px 10px 10px;">
            <div class="media">
                <div class="media-body">
                    <div class="media-left">
                        <a href="{% url 'home:server' serverid=server.id %}">
                            <img class="media-object"
                                 src="https://cdn.discordapp.com/icons/{{ server.id }}/{{ server.icon }}.png"
                                 alt="{{ server.name }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

    {% endfor %}
</div>
