DJANGO_DEV_DB=db.sqlite3
DJANGO_LOG_LEVEL=INFO
DJANGO_APP_LOG_LEVEL=DEBUG

DJANGO_DEBUG=True
DJANGO_ALLOWED=*
DJANGO_SESSION=1209600
DJANGO_SECRET_KEY=xxxxx
DJANGO_DATA_DIR=/data
DJANGO_STATIC_DIR=/data/static
DJANGO_MEDIA_DIR=/data/media
DJANGO_LANGUAGE_CODE=en-us

DATABASE_NAME=name
DATABASE_USER=user
DATABASE_PASS=pass
DATABASE_HOST=host
DATABASE_PORT=3306

DISCORD_API_ENDPOINT=https://discord.com/api/v6
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
DISCORD_GRANT_TYPE=authorization_code
DISCORD_SCOPE=identify

BLUE_DISCORD_BOT_TOKEN=
BLUE_DISCORD_BLUE_ROLE=
BLUE_DISCORD_OFFICER_ROLE=
BLUE_DISCORD_ID=705536399021178920
BLUE_DISCORD_URL=https://discord.gg/9TexB6z
