TZ=America/Los_Angeles

DEBUG=True
APP_LOG_LEVEL=DEBUG
DJANGO_LOG_LEVEL=INFO
ALLOWED_HOSTS=*
SESSION_COOKIE_AGE=1209600
SECRET_KEY=xxxxx
STATIC_ROOT=/data/static
MEDIA_ROOT=/data/media
LANGUAGE_CODE=en-us
USE_TZ=True

USE_X_FORWARDED_HOST=True
SECURE_REFERRER_POLICY=no-referrer-when-downgrade
CACHE_BACKEND=django.core.cache.backends.memcached.MemcachedCache
CACHE_LOCATION=memcached:11211

DATABASE_NAME=name
DATABASE_USER=user
DATABASE_PASS=pass
DATABASE_HOST=host
DATABASE_PORT=3306

OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_REDIRECT_URI=
OAUTH_GRANT_TYPE=authorization_code
OAUTH_SCOPE=identify guilds

DISCORD_API_URL=https://discord.com/api/v6
DISCORD_BOT_REDIRECT=https://guildsync.cc/callback/
DISCORD_BOT_TOKEN=XXXXXXXXXX
DISCORD_BOT_USER_ID=0000000000
DISCORD_URL=https://discord.gg/wXy6m2X8wY

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

FLOWER_PORT=5555
FLOWER_URL_PREFIX=flower
FLOWER_PURGE_OFFLINE_WORKERS=60
FLOWER_AUTO_REFRESH=

SENTRY_URL=https://ingest.sentry.io/
SENTRY_SAMPLE_RATE=1.0

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

GOOGLE_SITE_PUBLIC=
GOOGLE_SITE_SECRET=
