DJANGO_DEV_DB=db.sqlite3
DJANGO_LOG_LEVEL=INFO
DJANGO_APP_LOG_LEVEL=DEBUG

DJANGO_DEBUG=True
DJANGO_ALLOWED=*
DJANGO_SESSION=1209600
DJANGO_SECRET_KEY=xxxxx
DJANGO_DATA_DIR=/data
DJANGO_STATIC_DIR=/data/static
DJANGO_MEDIA_DIR=/data/media
DJANGO_LANGUAGE_CODE=en-us

DATABASE_NAME=name
DATABASE_USER=user
DATABASE_PASS=pass
DATABASE_HOST=host
DATABASE_PORT=3306

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
FLOWER_PORT=5555
FLOWER_URL_PREFIX=flower

OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_REDIRECT_URI=
OAUTH_GRANT_TYPE=authorization_code
OAUTH_SCOPE=identify guilds

DISCORD_API_URL=https://discord.com/api/v6
DISCORD_BOT_REDIRECT=
DISCORD_BOT_TOKEN=
DISCORD_INVITE=https://discord.gg/gB7wGdA3h7

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

GOOGLE_SITE_PUBLIC=
GOOGLE_SITE_SECRET=
