{% load home_tags %}

<div class="row mt-2">

    <div class="col-md-8">
        <h1>Blue Team</h1>

        {% if not blue_profile %}
            <div class="alert alert-warning" role="alert">
                You have not yet added your profile! Please <a href="{% url 'home:profile' %}">click here</a>
                to update your profile...
            </div>
        {% endif %}

        <p class="lead">Hello {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}.
            Thank you for being part of Blue Team!</p>
        <p>The website is still under construction. Currently you can
            <a class="text-info" href="{% url 'home:profile' %}">add/update your profile</a> for the
            <a class="text-info" href="{% url 'home:roster' %}">Guild Roster</a>
            and to show up on the home page when live on Twitch.</p>

        {% if user.blue_team_officer %}
            <p>Officers can manage news and view guild applications from the
                <a class="text-info" href="{% url 'admin:index' %}">Admin Panel</a>.</p>
        {% endif %}

        <p>For more information <a class="text-info" href="{% get_config "BLUE_DISCORD_URL" %}">
            Join our <i class="fab fa-discord"></i> Discord</a>.</p>

        {% include 'home/player.html' %}
    </div>

    <div class="col-md-4">
        {% include 'home/news.html' %}
    </div>

</div>
