{% load home_tags %}

<div class="row mt-2">

    <div class="col-md-8">
        <h1>Blue Team</h1>

        {% if user.is_authenticated %}
            <p class="lead">Hello {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}
                and welcome to Blue Team.</p>
        {% else %}
            <p class="lead">Hello and welcome to Blue Team.</p>
        {% endif %}

        <p>Blue Team is a Classic World of Warcraft Alliance raiding guild on US-Faerlina.</p>

        <p>Website development is still in progress. Currently you can read
            <a class="text-info" href="{% url 'home:news' %}">recent news</a>, view our
            <a class="text-info" href="{% url 'home:roster' %}">guild roster</a>, and submit a
            <a class="text-info" href="{% url 'home:apply' %}">guild application</a>.
            Soon we will be posting our progress, adding additional resources, and more...</p>

        <p>For more information <a class="text-info" href="{% get_config "BLUE_DISCORD_URL" %}">
            Join our <i class="fab fa-discord"></i> Discord</a>.</p>

        {% include 'home/player.html' %}
    </div>

    <div class="col-md-4">
        {% include 'home/news.html' %}
    </div>

</div>
