{% extends "main.html" %}
{% block about_active %}active{% endblock %}
{% block title %}About{% endblock %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}

    <div class="row mt-2">
        <div class="col">

            <h1 class="display-4">About</h1>
            <p class="lead">This service synchronizes World of Warcraft Classic guild members to Discord Users and Roles...</p>
            <p>There is currently 2 methods for syncing members.</p>
            <ol>
                <li>Name Based: Matches In-Game names to Discord usernames. Requires you to keep Discord usernames up to date with In-Game names.</li>
                <li>Note Based: Matches In-Game note to Discord usernames. Requires all members to set an In-Game note with their Discord username.</li>
            </ol>

            <h4>Current Features</h4>
            <ul>
                <li>Can select a "Guild Role" to apply to all matched members.</li>
                <li>Can enable syncing "Class Roles" to all matched members.</li>
            </ul>

            <h4>Coming Soon</h4>
            <ul>
                <li>Can select a Discord channel to receive alerts for all changes made by this service.</li>
                <li>Can enable auto creation of class roles in Discord if they do not exist.</li>
            </ul>

        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <p>For more information <a href="{% get_config "DISCORD_URL" %}" target="_blank">
                Join our <i class="fab fa-discord"></i> Discord</a>.</p>
        </div>
    </div>

{% endblock %}
