{% extends "main.html" %}
{% block apply_active %}active{% endblock %}
{% block title %}Apply to Blue{% endblock %}
{% load static %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row mt-2 mb-2">
        <div class="col">

            <h1>Apply to Blue</h1>

            {% if request.user.blue_team_member %}
                <div class="alert alert-info" role="alert">
                    It appears you are already in Blue Team.
                    If you believe this is an error try logging out and back in with a different user.
                </div>

            {% elif request.session.application_submitted %}
                <div class="alert alert-info" role="alert">
                    It appears you have already submitted an application.
                    If you believe this is an error try logging out and back in or clearing your cache for this site.
                </div>

            {% else %}
                <h3>US - Faerlina - Alliance</h3>
                <p>Blue Team is a Classic World of Warcraft raiding guild on the US Faerlina realm.
                    Only Alliance players from Faerlina or transferring to Faerlina should apply.
                    For more information please join our
                    <a href="{% get_config 'BLUE_DISCORD_URL' %}" class="text-info">discord server</a>.</p>

                <form id="apply-form" name="apply-form" method="POST" action="{% url 'home:apply' %}">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="char_name">Main Character Name (in game)</label>
                            <input type="text" class="form-control" id="char_name" name="char_name" placeholder="Character Name">
                            <div class="invalid-feedback" id="char_name-invalid"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="char_role">Main Role</label>
                            <select id="char_role" name="char_role" class="form-control custom-select">
                                <option selected></option>
                                <option>DPS</option>
                                <option>Healer</option>
                                <option>Tank</option>
                            </select>
                            <div class="invalid-feedback" id="char_role-invalid"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="warcraft_logs">Warcraft Logs Link (from
                                <a href="https://classic.warcraftlogs.com/" target="_blank">here</a>)</label>
                            <input type="text" class="form-control" id="warcraft_logs" name="warcraft_logs" placeholder="Warcraft Logs URL">
                            <div class="invalid-feedback" id="warcraft_logs-invalid"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="speed_test">Network Test Link (from <a href="https://openspeedtest.com/" target="_blank">here</a>)</label>
                            <input type="text" class="form-control" id="speed_test" name="speed_test" placeholder="Test Results URL">
                            <div class="invalid-feedback" id="speed_test-invalid"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="spoken_langs">Spoken Languages</label>
                            <input type="text" class="form-control" id="spoken_langs" name="spoken_langs" placeholder="List of Spoken Languages">
                            <div class="invalid-feedback" id="spoken_langs-invalid"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="native_lang">Native Language</label>
                            <input type="text" class="form-control" id="native_lang" name="native_lang" placeholder="Native Spoken Language">
                            <div class="invalid-feedback" id="native_lang-invalid"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="lead">Please select which raids you can attend:</p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Attendance</th>
                                <th scope="col">Raid</th>
                                <th scope="col">Day</th>
                                <th scope="col">Time (Server)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="fri_raid" name="fri_raid">
                                        <label class="form-check-label" for="fri_raid">Can Attend</label>
                                        <div class="invalid-feedback" id="fri_raid-invalid"></div>
                                    </div>
                                </th>
                                <td>AQ40</td>
                                <td>Friday</td>
                                <td>6:00 PM to 10:00 PM</td>
                            </tr>
{#                            <tr>#}
{#                                <th scope="row">#}
{#                                    <div class="form-check">#}
{#                                        <input class="form-check-input" type="checkbox" id="sat_raid" name="sat_raid">#}
{#                                        <label class="form-check-label" for="sat_raid">Can Attend</label>#}
{#                                        <div class="invalid-feedback" id="sat_raid-invalid"></div>#}
{#                                    </div>#}
{#                                </th>#}
{#                                <td>BWL</td>#}
{#                                <td>Saturday</td>#}
{#                                <td>4:00 PM to 7:00 PM</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <th scope="row">#}
{#                                    <div class="form-check">#}
{#                                        <input class="form-check-input" type="checkbox" id="tue_raid" name="tue_raid">#}
{#                                        <label class="form-check-label" for="tue_raid">Can Attend</label>#}
{#                                        <div class="invalid-feedback" id="tue_raid-invalid"></div>#}
{#                                    </div>#}
{#                                </th>#}
{#                                <td>MC</td>#}
{#                                <td>Tuesday</td>#}
{#                                <td>5:00 PM to 7:00 PM</td>#}
{#                            </tr>#}
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="raid_exp">Raiding and WoW Experience</label>
                        <textarea class="form-control" id="raid_exp" name="raid_exp" rows="3"></textarea>
                        <div class="invalid-feedback" id="raid_exp-invalid"></div>
                    </div>
                    <div class="form-group">
                        <label for="why_blue">Why do you want to join Blue Team?</label>
                        <textarea class="form-control" id="why_blue" name="why_blue" rows="3"></textarea>
                        <div class="invalid-feedback" id="why_blue-invalid"></div>
                    </div>

                    <div class="form-group">
                        <label for="contact_info">Contact Information (how can we contact you if approved)</label>
                        <input type="text" class="form-control" id="contact_info" name="contact_info" placeholder="Contact Information">
                        <div class="invalid-feedback" id="contact_info-invalid"></div>
                    </div>

                    <div class="g-recaptcha mb-2" data-sitekey="{% get_config 'GOOGLE_SITE_PUBLIC' %}"></div>
                    <button type="submit" id="submit-app-btn" class="btn btn-primary">Submit Application</button>

                </form>

                <div style="display:none;" id="apply-success" class="alert alert-success" role="alert">
                    Your application has been successfully submitted. We will reach out to you once we have made a decision.
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block tail %}
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript" src="{% static 'main/js/apply.js' %}"></script>
{% endblock %}
