{% extends "main.html" %}
{% block home_active %}active{% endblock %}
{% block title %}Home{% endblock %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row mt-2">

        <div class="col">
            <h1>Blue Team</h1>

            {% if user.is_authenticated %}
                <p class="lead">Hello {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}
                    and welcome.</p>
            {% else %}
                <p class="lead">Hello and welcome.</p>
            {% endif %}

            <p>For more information <a class="text-info" href="{% get_config "BLUE_DISCORD_URL" %}">
                Join our <i class="fab fa-discord"></i> Discord</a>.</p>

        </div>

    </div>
{% endblock %}
