{% extends "main.html" %}
{% block home_active %}active{% endblock %}
{% block title %}Home{% endblock %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}

    <div class="row mt-2">

        <div class="col">
            <h1>Discord Guild Sync</h1>

            {% if user.is_authenticated %}
                <p class="lead">Hello {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}
                    and welcome to the Discord Guild Sync website.</p>
                {% if not server_list %}
                    <p>No servers that you can manage.</p>
                {% else %}
                    <p>These are the servers you can manage:</p>
                    {% include 'include/servers.html' %}
                {% endif %}
            {% else %}
                <p class="lead">Hello and welcome to the Discord Guild Sync website.</p>
                <p><a href="{% url 'oauth:login' %}?next={{ request.path }}" class="btn btn-lg btn-outline-primary" role="button">
                    Log in with Discord
                    <i class="fas fa-sign-in-alt"></i></a></p>
            {% endif %}

            <p>For more information <a href="{% get_config "DISCORD_URL" %}">
                Join our <i class="fab fa-discord"></i> Discord</a>.</p>

        </div>

    </div>

{% endblock %}
