{% extends "main.html" %}
{% block news_active %}active{% endblock %}
{% block title %}Blue News{% endblock %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row mt-2">
        <div class="col">

            <h1>Blue News</h1>

            {% if request.user.blue_team_officer %}
                <p>Officers can add/edit Blue News from the
                    <a class="text-info" href="{% url 'admin:index' %}">Admin Panel</a>.</p>
            {% endif %}

            {% for news in blue_news %}
                {% include 'include/news.html' with news=news %}
                <br>
            {% endfor %}

        </div>
    </div>
{% endblock %}
