{% extends "main.html" %}
{% block profile_active %}active{% endblock %}
{% block title %}User Profile{% endblock %}
{% load static %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}

    <div class="row mt-2">
        <div class="col">

            <h1>Profile</h1>

            <p class="lead">Hello {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}.</p>

            <p>Important: Make sure you put your correct Main Character. This is used to link to your Logs and Armory.
                Also, if adding your Twitch username, make sure this is correct; it is used to show you on the home page when live.</p>

            <form id="update-profile-form" name="update-profile-form" method="POST" action="{% url 'home:profile' %}">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="main_char">Main Character Name (in game)</label>
                        <input type="text" class="form-control" id="main_char" name="main_char" placeholder="Character Name"
                            {% if blue_profile.main_char %}value="{{ blue_profile.main_char }}"{% endif %}>
                        <div class="invalid-feedback" id="main_char-invalid"></div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="main_class">Main Class</label>
                        <select id="main_class" name="main_class" class="form-control custom-select">
                            <option selected>{% if blue_profile.main_class %}{{ blue_profile.main_class }}{% endif %}</option>
                            <option>Druid</option>
                            <option>Hunter</option>
                            <option>Mage</option>
                            <option>Paladin</option>
                            <option>Priest</option>
                            <option>Rogue</option>
                            <option>Shaman</option>
                            <option>Warlock</option>
                        </select>
                        <div class="invalid-feedback" id="main_class-invalid"></div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="main_role">Main Role</label>
                        <select id="main_role" name="main_role" class="form-control custom-select">
                            <option selected>{% if blue_profile.main_role %}{{ blue_profile.main_role }}{% endif %}</option>
                            <option>DPS</option>
                            <option>Healer</option>
                            <option>Tank</option>
                        </select>
                        <div class="invalid-feedback" id="main_role-invalid"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_description">Description About Yourself</label>
                    <textarea class="form-control" id="user_description" name="user_description" rows="3"
                        >{% if blue_profile.user_description %}{{ blue_profile.user_description }}{% endif %}</textarea>
                </div>
                <div class="form-group">
                    <label for="twitch_username">Twitch Username (to show when live)</label>
                    <input type="text" class="form-control" id="twitch_username" name="twitch_username" placeholder="Twitch Username"
                           {% if blue_profile.twitch_username %}value="{{ blue_profile.twitch_username }}"{% endif %}>
                    <div class="invalid-feedback" id="twitch_username-invalid"></div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="show_in_roster" name="show_in_roster"
                            {% if blue_profile %}{% if blue_profile.show_in_roster %}checked{% endif %}{% else %}checked{% endif %}>
                        <label class="form-check-label" for="show_in_roster">Show Profile in Public Guild Roster</label>
                    </div>
                </div>
                <button type="submit" id="save-profile-btn" class="btn btn-primary">Save Profile</button>
                <span style="display:none;" id="profile_saved" class="text-success ml-3">
                    <i class="fas fa-check-circle"></i> Profile Saved</span>
            </form>

        </div>
    </div>

{% endblock %}

{% block tail %}
    <script type="text/javascript" src="{% static 'main/js/profile.js' %}"></script>
{% endblock %}
