{% extends "main.html" %}
{% block roster_active %}active{% endblock %}
{% block title %}Guild Roster{% endblock %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row mt-2">
        <div class="col">

            <h1>Guild Roster</h1>

            <p>Jump to: {% for user in guild_roster reversed %}<a href="#{{ user.main_char }}">
                {{ user.main_char }}</a>{% if not forloop.last %} | {% endif %}{% endfor %}</p>

            {% for member in guild_roster %}
                {% include 'include/member.html' with member=member %}
                <br>
            {% endfor %}

        </div>
    </div>
{% endblock %}
