{% extends "main.html" %}
{% block server_active %}active{% endblock %}
{% block title %}{{ server_data.name }}{% endblock %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row mt-2">
        <div class="col">

            <h2>{{ server_data.name }}</h2>
            <img src="https://cdn.discordapp.com/icons/{{ server_data.id }}/{{ server_data.icon }}.png"
                 class="img-thumbnail mb-1" alt="{{ server_data.name }}" width="128" height="128">
            <p>{{ server_data.id }}</p>

            {% if not server_profile.is_enabled %}
                <p>
                <a class="btn btn-lg btn-success" role="button"
                    href="{% get_bot_url server_data.id %}">Enable Guild Sync</a>
                </p>
            {% else %}
                <p><button type="button" class="btn btn-lg btn-outline-success" disabled>Bot Enabled</button></p>
                <h4>Settings</h4>
                <p>Coming Soon...</p>
            {% endif %}

        </div>
    </div>
{% endblock %}
