{% extends "main.html" %}
{% block server_active %}active{% endblock %}
{% block title %}{{ server_data.name }}{% endblock %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row mt-2">
        <div class="col">

            <h1>{{ server_data.name }}</h1>
            <img src="https://cdn.discordapp.com/icons/{{ server_data.id }}/{{ server_data.icon }}.png" class="img-thumbnail" alt="{{ server_data.name }}">
            <p>Server ID: {{ server_data.id }}</p>

            {% if not server_data.is_enabled %}
                <a class="btn btn-success btn-lg" role="button"
                    href="{% get_bot_url server_data.id %}">Enable Guild Sync</a>
            {% endif %}

        </div>
    </div>
{% endblock %}
